<p>
  <mat-toolbar color="primary">
    <button mat-button routerLink="agents" >Gestion Agent</button>
    <button mat-button routerLink="themes">Gestion Théme</button>
    <button mat-button routerLink="formateurs">Gestion Formateur</button>
    <button mat-button routerLink="formations" >Gestion Formation</button>
<!--    <button mat-button routerLink="questions">Gestion Question</button>-->
    <button mat-button routerLink="evaluation" >Evaluation des services</button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
