<div class="dialog-container">

  <p class="dialog-title" >Liste des question</p>

  <button (click)="openAjouterQuestionModal()">Ajouter un question</button>
  <p *ngFor="let question of questions">
    {{question.content}}
    <span *ngFor="let choix of question.choix_list">
      {{choix.content}}
    </span>
    <button (click)="onDeleteQuestion(question.question_id)">
      delete question
    </button>
    <button (click)="openAjouterChoixModal(question.question_id)">
      ajouter choix
    </button>
  </p>
</div>
