@import "variables" ;

.table {
  display: block;
  min-width: 100% !important;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

  .cell-text {
    color: $blue-primary ;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .mat-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 12px 0;
    &:hover {
      background-color: $blue-tertiary;
    }
  }

  .mat-header-row {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
    background-color: $blue-primary ;
  }

  .mat-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    display:flex;
    justify-content:center;
  }

  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    display:flex;
    justify-content:center;
    color: $blue-tertiary !important;
    padding: 8px 0;
    text-align: end;
    font-size: 14px;
  }

  .star {
    font-size: 28px;
    color: $warning ;
  }

  .small-cell {
    padding: 0px !important;
    border: none;
  }
}
