.full-width {
  width: 100%;
}

.half-width {
  width :50% ;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.radius-50 {
  border-radius: 50% ;
}

.pointer {
  cursor: pointer ;
}
