<div class="dialog-container">

  <p class="dialog-title" >Ajouter une formation</p>

  <form [formGroup]="form" class="row justify-content-center align-items-center scale-in-center mt-5">

    <div class="col-11">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom</mat-label>
        <input  formControlName="nom" matInput name="nom" type="text" required >
      </mat-form-field>
    </div>

    <div class="col-11">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input  formControlName="description" matInput name="description" type="text" required >
      </mat-form-field>
    </div>

    <div class="col-11">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Durée</mat-label>
        <input  formControlName="duree" matInput name="description" type="text" required >
      </mat-form-field>
    </div>

    <div class="col-11">
      <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Formateur</mat-label>
        <mat-select formControlName="formateur" >
          <mat-option *ngFor="let formateur of formateurs" value="{{formateur.id}}">{{formateur.nom + " " + formateur.prenom}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-11">
      <mat-form-field  appearance="outline" class="full-width">
        <mat-label>Theme</mat-label>
        <mat-select formControlName="theme">
          <mat-option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.nom}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-11">
      <button (click)="onSave()" class="submit-btn full-width" [disabled]="!form.valid " >
        Enregister
      </button>
    </div>

  </form>

</div>

