<ion-content fullscreen="true">
  <ion-grid >
    <ion-row class="logo-row ion-justify-content-center">
      <ion-col size="10" size-sm="6"  >
        <img src="../../../assets/logo.png" alt="logo">
      </ion-col>
    </ion-row>


    <form [formGroup]="loginForm" >
      <ion-row class="ion-margin-top">

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3">
          <label   class="login-label">Matricule</label>
        </ion-col>

        <ion-col size="10" size-sm="6" offset="1" offset-sm="3">
          <input formControlName="matricule" class="login-input" type="text"   />
        </ion-col>

        <ion-col  size="10" size-sm="6" offset="1" offset-sm="3">
          <ion-button (click)="onLogin()" color="primary" expand="full" >S'identifier</ion-button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>

</ion-content>
